
.operation,.numbers{
    width: 100%;
    outline: none;
    border: none;
    padding: 20px 0px;
    border: 1px solid black;
}

.operation:focus,.numbers:focus{
    outline: none;
    background-color: #d3d3d3  !important;
}

button > * { 
    pointer-events: none; 
}

.equals{
    width: 100%;
    position: absolute;
    height: 50%;
}

.equals:focus{
    outline: none;
    background-color : #ff0019 !important
}