
body{
    transition: 0.5s background ease-in-out;
    height: 100vh;
    overflow: hidden;
}

h1{
    animation: animemateText 11s normal;
    padding: 0px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animemateText {
    0%{
        font-size: 100vh;
    }

    90%{
        font-size: 50px;
    }

    92%{
        font-size: 30vw;
    }



}