body{
    transition: 0.5s background ease-in-out;
}
h1{
    animation: animemateText 11s normal;
}

@keyframes animemateText {
    0%{
        font-size: 350px;
    }

    90%{
        font-size: 50px;
    }

    92%{
        font-size: 30vw;
    }



}