.bg-img{
    height: 550px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 0px;
}

.small-img{
    height: 580px;
}

.bg-title{
    background-image: url("images/tile_large.jpg");
}

.bg-iphone-12{
    background-image: url("images/iphone_12_large.jpg");
}

.bg-iphone-pro-max{
    background-image: url("images/iphone_12_pro_large.jpg");
}

.bg-mac-book-air{
    background-image: url("images/macbook_air_large.jpg");
}

.bg-mac-book-pro{
    background-image: url("images/macbook_pro_13_large.jpg");
}

.bg-ipad-air{
    background-image: url("images/ipad_air_large.jpg");
}

.bg-tv{
    background-image: url("images/tv_large.jpg");
}

.bg-aboutus1{
    background-image: url("images/aboutus1.jpg");
}

.bg-aboutus{
    background-image: url("images/aboutus.jpg");
}

.rotate{
    transform: rotate(-45deg);
}



@media (max-width: 991px) {
    
    .bg-title{
        background-image: url("images/tile_medium.jpg");
    }
    .bg-chart{
        height: 400px;
        background-image: url("images/presentation_md.jpg");
    }

    .bg-mac-book-pro{
        background-image: url("images/macbook_pro_13_medium.jpg");
    }

    .bg-ipad-air{
        background-image: url("images/ipad_air_medium.jpg");
    }

    .small-img{
        height: 490px;
    }

    .bg-tv{
        background-image: url("images/tv_small.jpg");
    }
    .bg-aboutus{
        background-image: url("images/aboutus_md.jpg");
        background-color: #389c6e;
    }
    .bg-aboutus1{
        background-image: url("images/aboutus1_md.jpg");
        background-color: #f9fafe;
    }
    .small-img{
        height: 390px;
    }
}

@media (max-width: 767px) {
    .bg-img{
        height: 548px;
    }

    .bg-chart{
        height: 300px;
        background-image: url("images/presentation_sm.jpg");
    }

    .bg-iphone-pro-max{
        background-image: url("images/iphone_12_pro_small.jpg");
    }

    .bg-mac-book-air{
        background-image: url("images/macbook_air_small.jpg");
    }

    .bg-iphone-12{
        background-image: url("images/iphone_12_small.jpg");
    }

    .bg-title{
        background-image: url("images/tile_small.jpg");
    }

    .bg-mac-book-pro{
        background-image: url("images/macbook_pro_13_small.jpg");
    }

    .bg-ipad-air{
        background-image: url("images/ipad_air_small.jpg");
    }

    .bg-tv{
        background-image: url("images/tv_medium.jpg");
    }
    .bg-aboutus{
        background-image: url("images/aboutus_md.jpg");
    }
    .small-img{
        height: 390px;
    }
}

@media  (min-width: 991px)  {
    .w-md-50{
        width: 50% !important;
    }
}

.bg-courses{
    background-image: url("images/courses.jpg");
    height: 395px;
}