* {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

header {
    background-image: url(images/RedBar.gif);
    color: white;
    text-align: center;
}

b {
    font-weight: bold;
    font-weight: 700;
}

body {
    background-color: rgb(255, 255, 221);
    font-weight: normal;
    font-family: Arial;
}

.span-info {
    color: rgb(0, 0, 255);
}

span-msg {
    color: #000000;
}

form {
    width: 100%;
    overflow: auto;
}